@tailwind base;
@tailwind components;
@tailwind utilities;

/* *{
  font-family: 'Poppins', sans-serif;
} */

/* .inter-<uniquifier> {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* .slick-dots {
  position: absolute;
  left: 70px; 
  bottom: 70px;
  color: #ffff;
  padding: 0;
  width: 100%;
  text-align: left; 
}

@media (max-width: 640px) {
  .slick-dots {
    bottom: 0px; 
  }
}

.slick-dots li {
  margin: 0 4px;
}

::-webkit-scrollbar {
  display: none;
}

.with-pointer::before {
  content: '';
  position: absolute;
  top: -10px;
  right: 8px;
  width: 20px;
  height: 20px;
  background: white;
  border-top: 1px solid rgb(199, 196, 196); 
  border-left: 1px solid rgb(193, 190, 190);
  z-index: -1;
  transform: rotate(45deg);
}

.slick-dots li button {
  color: #fff; 
  opacity: 0.5; 
  border: 1px solid #fff; 
  border-radius: 50%; 
  width: .1rem;
  height: .1rem;
}

.slick-dots li.slick-active button {
  opacity: 1;
  background-color: #fff;
  border: 1px solid #fff;
} */


.car{
  position: relative;
  overflow-x: hidden ;
}

/* .nav{
  position: absolute;
  z-index: 10;
} */

/* .sort{
  position: absolute;
  z-index: 10;
}

.card-sort{
  position: relative;
}
.custom-time-picker {
  border: none !important;
}

.react-time-picker__clock-icon,
.react-time-picker__clear-icon {
  display: none !important;
} */

/* 
@keyframes moveUp {
  0% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0); 
  }
}

.move-up-animation {
  animation: moveUp 0.4s ease-out;
}
@keyframes slideDownSlow {
  0% {
      opacity: 0;
      transform: translateY(-10px);
  }
  100% {
      opacity: 1;
      transform: translateY(0);
  }
}
.slide-down-animation-slow {
  animation: slideDownSlow 3s ease-out;
}
.active {
  background-color:rgb(38, 85, 204);
  color: #ffffff;
  transform: translateY(-1px);
} */


/* home card scrolling Animation */
/* .sliding-container {
  display: flex;
  transition: transform 0.5s ease;
}

.next-animation {
  animation: slide-next 0.5s ease;
}

.prev-animation {
  animation: slide-prev 0.5s ease;
}

@keyframes slide-prev {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slide-next {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
} */


/* home arrow button  */

/* @keyframes slideInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideInRight {
  0% {
    opacity: 0;
    transform: translateX(10px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.slide-in-left {
  animation: slideInLeft 0.4s ease;
}

.slide-in-right {
  animation: slideInRight 0.4s ease;
}
.slider-container {
  width: 80%;
  margin: auto;
}

.slider-container {
  position: relative;
} */
 

