@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.slick-dots {
  position: absolute;
  bottom: 150px;
  justify-content: center;
  margin: 0;
  color: #ffff;
  padding: 0;
  width: 100%;
}

@media (max-width: 640px) {
  .slick-dots {
    bottom: 30px; 
  }
}
.slick-dots li {
  margin: 0 4px;
  
}
::-webkit-scrollbar {
  display: none;
}
.slick-dots li button {
  color: #fff; /* Set the dot color to white */
  opacity: 0.5; /* Adjust the opacity as needed */
  border: 1px solid #fff; /* Set the border color to white */
  border-radius: 50%; /* Make the dots circular */
  width: .1rem;
  height: .1rem;
}

.slick-dots li.slick-active button {
  opacity: 1;
  background-color: #fff; /* Set the background color of the active dot to white */
  border: 1px solid #fff; /* Set the border color of the active dot to white */
}

.car{
  position: relative;
  overflow-x: hidden ;
}

.nav{
  position: absolute;
  z-index: 10;
}

.sort{
  position: absolute;
  z-index: 10;
}

.card-sort{
  position: relative;
}
.custom-time-picker {
  border: none !important;
}

.react-time-picker__clock-icon,
.react-time-picker__clear-icon {
  display: none !important;
}
@keyframes moveUp {
  0% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0); 
  }
}

.move-up-animation {
  animation: moveUp 0.4s ease-out;
}
@keyframes slideDownSlow {
  0% {
      opacity: 0;
      transform: translateY(-10px);
  }
  100% {
      opacity: 1;
      transform: translateY(0);
  }
}
.slide-down-animation-slow {
  animation: slideDownSlow 3s ease-out;
}
.active {
  background-color:rgb(38, 85, 204);
  color: #ffffff;
  transform: translateY(-1px);
}
